<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/trainer.css">
    
    <title>Fitify Fitness | Fitness, Strength Training, and Classes</title>
  </head>
  <body>
    <header>
      <div class="navbar-container">
        <a class="logo" > Fitify Fitness</a>
        <nav>
          <ul class="menu-items">
            <li class="nav-item">
              <a class="active nav-link" href="#home-section">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-section">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#classes-section">Classes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#schedule-section">Schedules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact-section">Contact</a>
            </li>
            <form action="/logout" class="form" method="get">
            <li class="nav-item">
              <button class="nav-link" >LogOut</button>
            </li>
           </form>
          </ul>
          <img src="/images/icon/moon.png" id="icon1" >
          
        </nav>
      </div>
    </header>
    <main>
      <section id="home-section" class="welcome" title="Welcome section">
        <div class="summary">
          <h1 class="slide-left">UPGRADE YOUR BODY AT Fitify Fitness</h1>
          <p class="slide-left">New way to build a heathy lifestyle</p>
        </div>
        <div class="learn-more slide-left">
          <a href="./users/register.html" class="slide-left">GET STARTED</a>
          <input class="btn slide-left" type="button" value="LEARN MORE" /> <br>
          
        </div>
      </section>

      <section class="training schedule">
        <div>
          <h2>New to the Fitify Fitness</h2>
          <p>Your membership is up to 2 month Free (Rs. 200 per month)</p>
          <a
            class="register-btn"
            href="./users/price.html"
            >BECOME A MEMBER TODAY</a
          >
          <a
            class="register-btn"
            href="./users/index.html"
            >CHECK YOUR BMI STATUS</a
          >
        </div>
        <div>
          <h2>Working hours</h2>
          <p>Sunday: Closed</p>
          <time datetime="2022-09-06T07:30:00">7:20AM</time>
          <p>Monday-Friday</p>
          <time datetime="2022-09-06T08:30:00">8:30AM</time>
          <p>Satuday</p>
          <time datetime="2022-09-06T08:30:00">9:30AM</time>
        </div>
      </section>

      <section id="classes-section" class="training classes section">
        <h3>Areobic Training</h3>
        <div class="class-sec">
          <img
            src="./images/gallery/areobic-training1.jpg"
            alt="Group of people participating in aerobic training"
          />
          <img
            src="./images/gallery/areobic-training2.jpg"
            alt="Group of people participating in aerobic training"
          />
          <img
            src="./images/gallery/aerobics-training3.jpg"
            alt="Group of people participating in aerobic training"
          />
          
        </div>
        
  
        <a
            class="startbutton"
            href="./users/index.html"
            >START YOUR EXERCISE TODAY</a
          >
        <h3>Boxing Training</h3>
        <div class="class-sec">
          <img
            src="./images/gallery/boxing-training1.jpg"
            alt="Group of people participating in boxing training"
          />
          <img
            src="./images/gallery/boxing-training2.jpg"
            alt="Group of people participating in boxing training"
          />
          <img
            src="./images/gallery/boxing-training3.webp"
            alt="Group of people participating in boxing training"
          />
        </div>
        <a
            class="startbutton"
            href="C:\Users\.ASUS\Desktop\FitnessTracker-main\FitnessTracker-main\users\index.html"
            >START YOUR BOXING JOURNEY TODAY</a
          >
      </section>

      <section class="hero__two">
        <div class="hero__two-container">
         <div class="hero__two-upper">
            <h2 main>FITIFY FITNESS</h2>
            <h2>A crossfit workout Training center</h2>
         </div>
         <div class="hero__two-cards">
            <div class="card"><h3>Men Fitness and workout</h3></div>
            <div class="card"><h3>women Fitness and workout</h3></div>
            <div class="card"><h3>Yoga Sessions</h3></div>
            <div class="card"><h3>Personal Trainings</h3></div>
         </div>
        </div>
    </section>

    <section style="height:100vh;width:100%;" class="hero__three">
     <div class="hero__three-container">
        <div class="hero__three-content">
          <h3>Be in proper shape,<span>Get help from the</span><span>best instructor</span></h3>
          <p>Subscribe to our application and get deals from best instructors in the world very month.Be an exclusive member in the gym</p>
          <div><button>Subscribe</button></div>
        </div>
        <div>
          <img src="./images/gallery/boxing-training1.jpg"
          alt="">
        </div>

     </section> 

    <section class="hero__four">
    <div class="hero__four-container">
        <div class="info-content">
            <h4>20+ <span>Years Of Experience</span></h4>
        </div>
        <div class="info-content">
            <h4>100+ <span>Fitness Trainees</span></h4>
        </div>
        <div class="info-content">
            <h4>310+ <span>Best Equipments</span></h4>
        </div>
        <div class="info-content">
            <h4>10k+ <span>Happy clients</span></h4>
        </div>
    </div>
    </section>
    <section class="hero__five">
        <div class="hero__five-container">
        <div class="hero__five-container">
            <div class="hero__five-title">
                <div class="bubble__small">
                    <div class="bubble__small-container">
                        <div class="bubble__small-inner">
                            
                        </div>
                    </div>
                </div>
                <h2>Meet Trainers</h2>
            </div>
            <div class="hero__five-cards">
                <div class="hero__five-card">
                    <img src="./images/gallery/img-6.jpg" alt="trainee" />
                    <div class="trainee-details">
                        <h5>Jakob Histon</h5>
                        <h6>Fitness Expert</h6>
                    </div>
                    <div class="over-lay">
                        <div class="lay-green"></div>
                        <div class="lay-black"></div>
                    </div>
                </div>
                <div class="hero__five-card">
                    <img src="./images/gallery/img-4.jpg" alt="trainee" />
                    <div class="trainee-details">
                        <h5>ALIANA ROZ</h5>
                        <h6>Cardio</h6>
                    </div>
                    <div class="over-lay">
                        <div class="lay-green"></div>
                        <div class="lay-black"></div>
                    </div>
                </div>
                <div class="hero__five-card">
                    <img src="./images/gallery/img-3.jpg" alt="trainee" />
                    <div class="trainee-details">
                        <h5>Bob Mark</h5>
                        <h6>Body Builder</h6>
                    </div>
                    <div class="over-lay">
                        <div class="lay-green"></div>
                        <div class="lay-black"></div>
                    </div>
                </div>

            </div>

            </div>

              
    <h1>Our team of Personal Trainers</h1>
    <div class ="main_container">
        <div class="box_container">
              <a href="#" class="image_container">
                <img src="./trainerphoto/Ayushi.jpeg" alt="card 1 image" class="card_image" loading="crazy"/>
             
            </a>
              <div class="title_container">
                <div class="card_title">
                   <h1 class="card_title">Ayushi Gupta </h1><br>
                 </div>
                 <div class="card_desc">
                  <div id="Aboutme"><h2>About Me</h2><br> Ayushi Gupta is a certified personal trainer with over 10 years of experience in the fitness industry. She is passionate about helping clients achieve their fitness goals through personalized training programs and nutritional guidance.</div>
                <br>  <div id="Specialties"><h2>Specialties</h2><br> 
                    <ul class="features">
                   <li>Weightlifting</li>
                    <li>HIIT workouts</li> 
                      <li>Nutrition counseling</li>
                    </div>
                  </ul>
                 </div>
                
              </div>
        </div>
        <div class="box_container">
          <a href="#" class="image_container">
            <img src="./trainerphoto/Ashish.jpeg" alt="card 1 image" class="card_image" loading="crazy"/>
         
        </a>
          <div class="title_container">
            <div class="card_title">
               <h1 class="card_title">Ashish Ranjan </h1><br>
             </div>
             <div class="card_desc">
              <div id="Aboutme"><h2>About Me</h2><br>  Ashish Ranjan is a former professional athlete turned fitness coach. With a background in competitive sports, He brings a unique perspective to her training sessions, focusing on strength, agility, and overall athletic performance.</div>
            <br>  <div id="Specialties"><h2>Specialties</h2><br> 
                <ul class="features">
               <li>Functional training</li>
                <li>Sports-specific workout</li> 
                  <li>injury prevention</li>
                </div>
              </ul>
             </div>
            
          </div>
    </div>

    <div class="box_container">
      <a href="#" class="image_container">
        <img src="./trainerphoto/Bhupesh.jpeg" alt="card 1 image" class="card_image" loading="crazy"/>
     
    </a>
      <div class="title_container">
        <div class="card_title">
           <h1 class="card_title">Bhupesh Kumar </h1><br>
         </div>
         <div class="card_desc">
          <div id="Aboutme"><h2>About Me</h2><br>Bhupesh Kumar is a certified yoga instructor and personal trainer. He believes in the importance of mind-body connection and incorporates elements of mindfulness into his fitness routines. His approach emphasizes flexibility, balance, and stress relief</div>
        <br>  <div id="Specialties"><h2>Specialties</h2><br> 
            <ul class="features">
           <li>Yoga</li>
            <li>Pilates</li> 
              <li>Meditation</li>
              <li>Stress Management</li>
            </div>
          </ul>
         </div>
        
      </div>
</div>

<div class="box_container">
  <a href="#" class="image_container">
    <img src="./trainerphoto/Vikash.jpeg" alt="card 1 image" class="card_image" loading="crazy"/>
 
</a>
  <div class="title_container">
    <div class="card_title">
       <h1 class="card_title">Vikash Pandey </h1><br>
     </div>
     <div class="card_desc">
      <div id="Aboutme"><h2>About Me</h2><br>  Vikash is a fitness enthusiast with a background in dance and martial arts. He enjoys creating dynamic and engaging workouts that challenge his clients both physically and mentally. His energetic coaching style motivates clients to push past their limits and discover their full potential.</div>
    <br>  <div id="Specialties"><h2>Specialties</h2><br> 
        <ul class="features">
       <li>Dance Fitness</li>
        <li>Kickboxing</li> 
          <li>Circuit training</li>
        </div>
      </ul>
     </div>
    
  </div>
</div>
    

    
    

    
</div>
        </div>

    </section>
    
    <section class="hero__six">
        <div class="hero__six-container">
            <div class="hero__six-title">
                <div class="bubble__small">
                    <div class="bubble__small-container">
                        <div class="bubble__small-inner">
                            
                        </div>
                    </div>
                </div>
                <h2>Recent Exercise Blogs</h2>
            </div>
            
            <div class="hero__six-cards">
              <% if (responseData && responseData.length > 0) { %>
                <div class="hero__six-card">
                   
                    <div class="card-lower">
                        <h2> Exercise:1</h2>
                         <h4>Exercise Name:</h4> <%=responseData[0].name %> 
                          <h4>Muscle Type: </h4>  <%=responseData[0].muscle %> 
                          
                        <p><h4>Instructions: </h4> <%=responseData[0].instructions %>  </p>
                      
                    </div>
                   
                </div> 
                
                <div class="hero__six-card">
                    
                    <div class="card-lower">
                        <h2> Exercise:2</h2>
                        <h4>Exercise Name:</h4> <%=responseData[1].name %> 
                        <h4>Muscle Type: </h4>  <%=responseData[1].muscle %> 
                        <p><h4>Instructions:</h4><%=responseData[1].instructions %> </p>
                       
                    </div>
                </div>
                
                <div class="hero__six-card">
                  
                    <div class="card-lower">
                        <h2>Exercise:3</h2>
                        <h4>Exercise Name:</h4> <%=responseData[2].name %> 
                        <h4>Muscle Type: </h4>  <%=responseData[2].muscle %> 
                        <p><h4>Instructions:</h4><%=responseData[2].instructions %> </p>

                    </div>
                </div>
                
                <% } else { %>
                  <p><h2>Oops !  Please reload the page</h2></p>
              <% } %>

            </div>
        </div>
    </section>
    

      <section
        id="schedule-section"
        class="workout timetable"
        title="check the workout timetable"
      >
      <div class="workout">
        <h2>workout timetable</h2>
        <br>
        <br>
        
    </div>
<table>
    <thead>
        <th>DAYS/TIME</th>
        <th>7:00AM</th>
        <th>10:00AM</th>
        <th>1:00PM</th>
        <th>3:00PM</th>
        <th>5:00PM</th>
    </thead>
    <tbody>
        <tr>
            <th>MON</th>
            <th>GYMMING</th>
            <th></th>
            <th></th>
            <th>POWER FITNESS</th>
            <th></th>
        </tr>
        <tr>
        <th>TUE</th>
        <th>POWER FITNESS</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
        <tr>
            <th>WED</th>
            <th></th>
            <th></th>
            <th>BOXING</th>
            <th></th>
            <th>POWER FITNESS</th>
        </tr>
        <tr>
            <th>THU</th>
            <th>BOXING</th>
            <th></th>
            <th>POWER FITNESS</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>FRI</th>
            <th></th>
            <th></th>
            <th></th>
            <th>BOXING</th>
            <th>POWER FITNESS</th>
        </tr>
        <tr>
            <th>SAT</th>
            <th></th>
            <th>DANCE</th>
            <th></th>
            <th>POWER FITNESS</th>
            <TH></TH>
        </tr>
    </tbody>
</table>   
      </section>

      <section class="contact form section" id="contact-section">
        <h3>Feel free to ask anything</h3>
        <form method="POST" class="form-container" action = "/show">
          <input
            type="text"
            name="username"
            placeholder="Name"
           
          />
          <input
            type="email"
            name="useremail"
            placeholder="example@gmail.com"
            
          />
          <textarea
            name="message box"
            rows="7"
            cols="40"
            placeholder="Message here"
            maxlength="500"
          ></textarea>
          <input
            class="btn submit message"
            type="submit"
            value="Submit"
            title="user message submit button"
          />
        </form>
      </section>

      <section class="map section" title="google map section">
        <h3 class="margin">Where you can find us</h3>
        <p class="margin">
          <i class="fa-solid fa-location-dot"></i>our location
        </p>
        <map name="map" title="check us on google map">
         
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3535.607730639951!2d77.5933245!3d27.605688699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39736ce47bffc039%3A0xfe5fc3da92c6341!2sGLA%20University!5e0!3m2!1sen!2sin!4v1710521709609!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </map>
      </section>
    </main>
    <footer id="about-section">
      <section>
        <address title="company address" class="center">
          <h4>Fitify Fitness</h4>
          <p>
            <i class="fa-solid fa-location-dot"></i> About <span>
              </span
            >
          </p>
          <p><i class="fa-solid fa-phone"></i> Teams</p>
          <a href="care@fitify.co.in"
            ><i class="fa-solid fa-envelope"></i> Terms and conditions </a
          >
        </address>

        <div class="center">
          <h4> Become a Partner </h4>
          <ul class="center">
            <li><a href="">+91 987654321</a></li>
            <li><a href="">care@fitify.co.in</a></li>
            <li><a href="">Privacy Policy</a></li>
          </ul>
        </div>
      </section>

      <section class="social media handles" title="social medial handles">
        <h4> 2024 fitify.co.in | All Rights</h4>
        <ul>
          <li>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
      </section>
    </footer>

<script>
    var icon1 = document.getElementById("icon1");

    icon1.onclick = function(){
      document.body.classList.toggle("dark-theme");
      if(document.body.classList.contains("dark-theme")){
        icon1.src = "images/icon/sun.png";
      }else{
        icon1.src = "images/icon/moon.png";
      }

    }

</script>  
  
  </body>
</html>
